<div id="builder-menu" class="region-top">
	<header id="header">
		<div class="container">
			<div class="row">
				<div class="column-24">
					<h2 id="site-logo"><%= data.advancedSettings.appName %> Builder</h2>
					<nav>
						<ul>
							<li><a href="index.html">Settings</a></li>
							<li><a href="index.html">Preview</a></li>
							<li><a href="about.html">Discard</a></li>
							<li><a href="about.html">Save</a></li>
						</ul>
					</nav>
					<a href="http://esri.com/" id="esri-logo">Esri</a>
				</div>
			</div>
		</div>
	</header>
</div>